.radio-btns{
 display: flex;
 margin: 10px;   
}
.btns-control{
    height: 25px;
    margin-left: 5px;
}

/* error messages*/
.error{
    color: red;
}
#errorPlacement {
    display: block;
    margin-top: 5px; 
    color: red; 
}
.active{
    color: red;
    background-color: blue;
}
.main-container{
    background-color: #d7d8e7;
    border: 1px solid #d6c6c6;
    border-radius: 5px;
    margin: 20px 0px; 
}
